<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand text-center">
      <!--a href="#"-->
      <img class="profile-img" src="img/userAvatar.png" alt="">
      <!--/a-->
      <p>nome do usuario</p>
    </li>
  </ul>
  <ul class="sidebar-nav text-center" style="margin-top:150px">
   <li >
     <a href ng-click="addProduct()" class="btn btn-info menuButton">Cadastrar Produtos</a>
   </li>
   <li>
     <a href ng-click="getProduct()" class="btn btn-info menuButton">Visualizar Produtos</a>
   </li>
   <li>
     <a href="#" class="btn btn-info menuButton">Editar Perfil</a>
   </li>
   <li>
     <a href="#" class="btn btn-info menuButton">Caixa Postal</a>
   </li>
   <li>
     <a href='Login' class="btn btn-info menuButton">Sair</a>
   </li>
 </ul>
</div>